
body {
    padding: 0;
    margin: 0;
}

.lc-app {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lc-sidebar {
    width: 270px;
    border-right: 1px #eee solid;
    overflow-y: auto;
}

.lc-main {
    display: flex;
    flex: 1 0 0;
}

.lc-room {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.lc-messages {
    flex: 1 0 0;
}

.lc-entry {
    background: #eee;
    height: 80px;
    display: flex;
}

.lc-entry-input {
    width: 100%;
}